/* CSS Document */

        html,
        body {
			/*
			background-image: {{asset('img/negocio.jpg')}};
			background-image: url({{asset('img/negocio.jpg')}})
			*/
            /*background-color: #A0E5EB;*/
           /* background: rgba(182,194,237,1);*/

            color: #636b6f;
            font-family: 'Exo', sans-serif;
            font-weight: 200;
            height: 100vh;
            margin: 0;
            
           /* background: -webkit-linear-gradient(90deg, #e74d6b 10%, #8cc8ac 90%);
            background:    -moz-linear-gradient(90deg, #e74d6b 10%, #8cc8ac 90%);
            background:     -ms-linear-gradient(90deg, #e74d6b 10%, #8cc8ac 90%);
            background:      -o-linear-gradient(90deg, #e74d6b 10%, #8cc8ac 90%);
            background:         linear-gradient(90deg, #e74d6b 10%, #8cc8ac 90%);*/
            
            /*background: -webkit-linear-gradient(90deg, #65997d 10%, #fccb6e 90%);
            background:    -moz-linear-gradient(90deg, #65997d 10%, #fccb6e 90%);
            background:     -ms-linear-gradient(90deg, #65997d 10%, #fccb6e 90%);
            background:      -o-linear-gradient(90deg, #65997d 10%, #fccb6e 90%);
            background:         linear-gradient(90deg, #65997d 10%, #fccb6e 90%);*/
            
			/*
            background: -webkit-linear-gradient(90deg, #4c515b 10%, #fccb6e 90%);
            background:    -moz-linear-gradient(90deg, #4c515b 10%, #fccb6e 90%);
            background:     -ms-linear-gradient(90deg, #4c515b 10%, #fccb6e 90%);
            background:      -o-linear-gradient(90deg, #4c515b 10%, #fccb6e 90%);
            background:         linear-gradient(90deg, #4c515b 10%, #fccb6e 90%);
				*/
			background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(191,184,191,1) 32%, rgba(191,184,191,1) 65%, rgba(237,237,237,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(32%, rgba(191,184,191,1)), color-stop(65%, rgba(191,184,191,1)), color-stop(100%, rgba(237,237,237,1)));
			background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(191,184,191,1) 32%, rgba(191,184,191,1) 65%, rgba(237,237,237,1) 100%);
			background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(191,184,191,1) 32%, rgba(191,184,191,1) 65%, rgba(237,237,237,1) 100%);
			background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(191,184,191,1) 32%, rgba(191,184,191,1) 65%, rgba(237,237,237,1) 100%);
        }
        
        
        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }
        
        .position-ref {
            position: relative;
        }
        
        .top-right {
            position: absolute;
            right: 10px;
            top: 18px;
        }
        
        .content {
            text-align: center;
        }
        
        .fontColor {
            color: #312828;
        }
        
        .title {
            font-size: 84px;
        }
        
		.links>a{
			color: white;
			text-decoration: none;
			font-size: 20px;
			border: 2px thin ;
			border-radius: 15px;
			padding: 17px 25px;
			margin: 10px;
			background-color:  #B59B85;
			opacity:0.8;
			 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
        
        .links> a:hover {
			
			background-color: #4c515b;
            margin-top: 5px;
            font-weight: bold;
            transition: all 0.5s linear;
            border-radius: 30px;
            transform: scale(0.9);   
            opacity:0.8;           
			 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		
        
        .m-b-md {
            margin-bottom: 30px;
        }
        
        .container {
            position: absolute;
            margin-left: 590px;
            margin-top: -400px;
        }
		
